.product-list {
    max-width: 400px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.product-write {
    max-width: 400px;
    padding: 20px;
    background-color: #aaa;
}

.product-btn{
    max-width: 400px;
    padding: 30px 0px;
}

.product-image {
    width: 100px;
}

#detailModalContent {
    white-space: pre-wrap;
}